# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

package-lock.json

# testing
/coverage

.env
.env.development
.env.production

# build
/dist

.env
.env.development

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
.idea

# compiled
utils/reload/*.js
utils/reload/injections/*.js

# zip
/zip

# secrets
secrets.*.js
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.npmrc
